body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.display-container{
    padding-top: 5%;
    width: 100%;
    height: 15%;
}
.display{
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0px;;
    border: none;
    font-size: 50px;
    text-align: end;
}
.button-container{
    padding-top: 5%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,minmax(10%,1fr));
    grid-template-rows: repeat(5,minmax(10%,1fr));
    row-gap: 3%;
    column-gap: 3%;
}
button{
        background-color: rgb(30, 30, 30);
        color: white;
        font-size: 20px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        align-items: start;
        transition: background-color 0.15s,color 0.15s;
}
button:hover{
    color: orange ;
    background-color: rgb(25, 25, 25);
}
.btn{
        background-color: rgb(30, 30, 30);
        color: orange;
        font-size: 20px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        align-items: start;
}
.equal-btn{
        background-color: orange;
        color: white;
        font-size: 20px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        align-items: start;
}
.equal-btn:hover{
        background-color: white;
        color: orange;
        font-size: 20px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        align-items: start;
}

